.root {
  width: 25px;
  height: 25px;
  background-size: 100%;
}

.root > img {
  width: 100%;
  height: 100%;
}

.wall {
  background-image: url(../textures/tile-W.png);
}

.empty {
  background-image: url(../textures/tile-.png);
}
