._root_1fsd3_1 {
  width: 25px;
  height: 25px;
  background-size: 100%;
  z-index: 0;
}
._root_1fsd3_1 > img {
  width: 100%;
  height: 100%;
}
._wall_1fsd3_25 {
  background-image: url(./dungeon_master/assets/tile-W-5e28ee7e.png);
}
._empty_1fsd3_33 {
  background-image: url(./dungeon_master/assets/tile--909844e1.png);
}
._root_1dqu6_1 {
  display: grid;
  grid-template-columns: repeat(40, 25px);
}
* {
  box-sizing: border-box;
}
body,
html {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body {
  background-color: #000;
  color: #fff;
}
h1 {
  font-family: Playfair Display;
  font-size: 30px;
  padding: 10px 0;
  margin: 0;
  text-align: center;
}
.field-box {
  border: 2px solid #d0d0d0;
  float: left;
  position: relative;
  overflow: hidden;
  display: grid;
}
.field {
  position: relative;
  width: 1000px;
  height: 600px;
}
.field .tile {
  position: absolute;
  width: 50px;
  height: 50px;
  background-size: 100%;
  background-image: url(images/tile-.png);
  z-index: 5;
}
.field .tileW {
  background-image: url(images/tile-W.png);
}
.field .tileE {
  background-image: url(images/tile-E.png);
  z-index: 10;
}
.field .tileP {
  background-image: url(images/tile-P.png);
  z-index: 10;
}
.field .tileHP {
  background-image: url(images/tile-HP.png);
  z-index: 9;
}
.field .tileSW {
  background-image: url(images/tile-SW.png);
  z-index: 9;
}
.field .tile .health {
  background-color: red;
  z-index: 11;
  position: absolute;
  left: 0;
  top: 0;
  height: 3px;
}
.field .tileP .health {
  background-color: #0f0;
  z-index: 11;
  position: absolute;
  left: 0;
  top: 0;
  height: 3px;
}
#MODAL {
  position: absolute;
  transition: 1s;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  font-size: 80px;
}
._character_19aqx_1 {
  height: 33px;
  width: 25px;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 3px;
  transform: translateY(-8px);
  transition: 0.1s linear;
}
._character_19aqx_1 > img {
  width: 25px;
  height: 25px;
}
._health_19aqx_31 {
  width: 100%;
  height: 5px;
  border-radius: 1px;
  overflow: hidden;
}
._enemy_19aqx_45 {
  background-color: #540000;
}
._hero_19aqx_53 {
  background-color: #005400;
}
._healthBar_19aqx_61 {
  width: 100%;
  height: 100%;
}
._healthBar_enemy_19aqx_71 {
  background-color: #c80000;
}
._healthBar_hero_19aqx_79 {
  background-color: #00c800;
}
._sweep_lkju3_1 {
  position: absolute;
  width: 25px;
  height: 25px;
  transform-origin: 150% 50%;
  transition: 0.1s linear;
}
._sweep_lkju3_1 > img {
  width: 100%;
  height: 100%;
  transform: rotate(-30deg);
}
._rot_lkju3_29 {
  transform: rotate(-360deg);
}
._box_lkju3_37 {
  width: fit-content;
  height: fit-content;
  position: absolute;
  transition: 1s linear;
  color: red;
  font-size: 20px;
  font-weight: 700;
  z-index: 10;
}
._heal_lkju3_59 {
  color: #00bc00 !important;
}
._fly_lkju3_67 {
  opacity: 0;
  transform: translateY(-50px);
}
._win_na8hg_1 {
  color: green;
  text-shadow: 0 0 10px rgb(0, 169, 0);
}
._lose_na8hg_11 {
  color: #840000;
  text-shadow: 0 0 10px rgb(200, 0, 0);
}
